.footer {
  background-color: var(--color-bg-dark);

  &__container {
    display: flex;
    // align-items: center;
    justify-content: space-between;
    padding: 75px 0;
  }
  &__logo {
    align-items: flex-start;
  }
  &__social {
    display: flex;
  }
  &__ico {
    border-radius: 50%;
    -webkit-box-shadow: inset 0 0 0 1.5px var(--color-social-border);
    box-shadow: inset 0 0 0 1.5px var(--color-social-border);
    display: block;
    height: 48px;
    width: 48px;
    @extend %transition;
    &:hover {
      transform: scale(1.06);
      box-shadow: inset 0 0 0 1.5px var(--color-hover);
    }
  }
}
