.video {
  &__cotainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    color: var(--color-hover);
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  &__content {
    max-width: 720px;
    color: var(--color-text-dark);
  }
}
