.welcome {
  min-height: 750px;
  background-color: var(--color-bg-dark);
  background-image: url("./assets/img/background.jpg");
  background-size: 1215px 750px;
  background-repeat: no-repeat;
  background-position: calc(50% + 352px) 100%;

  &__title {
    padding-top: 113px;
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  &__content {
    margin-top: 26px;
    @include font($size: 28px, $height: 33px);
    letter-spacing: 2px;
  }

  &__btn {
    padding: 26px 67px;
    margin-top: 76px;
    width: 360px;
    height: 75px;
    background-color: var(--color-main-btn);
    @include font($weight: 100, $height: 26px);
    border-radius: 10px;
    letter-spacing: 2px;
  }
}
