@font-face {
  font-family: "Roboto";
  src: url("#{$roboto-font-path}/Roboto-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "Roboto";
  src: url("#{$roboto-font-path}/Roboto-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url("#{$roboto-font-path}/Roboto-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("#{$roboto-font-path}/Roboto-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Forum";
  src: url("#{$forum-font-path}/Forum-Regular.ttf");
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

body {
  @extend %font-primary;
  @include font;
  color: var(--color-text-light);
  background-color: var(--color-bg-light);
}

h2 {
  @extend %font-title;
  @include font($size: 80px, $height: 90px, $weight: 400);
}

h3 {
  @extend %font-title;
  @include font($size: 32px, $height: 35px, $weight: 400);
}

.visuallyhidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}
