%font-primary {
  font-family: "Roboto", sans-serif;
}

%font-title {
  font-family: "Forum", cursive;
}

%transition {
  transition: all 0.3s ease-out;
}

%underline-title {
  content: "";
  position: absolute;
  bottom: -28px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: var(--color-main-btn);
}

%underline-book-title {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: var(--color-underline-book-title);
}
