.btn {
  display: inline-block;
  @extend %font-primary;
  @extend %transition;
  text-decoration: none;
  cursor: pointer;
  // &_bordered {
  //   color: var(--color-text-dark);
  // }

  &_welcome {
    background-color: var(--color-main-btn);
    &:hover {
      background-color: var(--color-hover);
    }
  }
  &_ticket {
    background-color: var(--color-bg-dark);

    &:hover {
      background-color: var(--color-hover);
      color: var(--color-text-dark);
    }
  }
}
