.ico {
  cursor: pointer;
  display: inline-block;
}

// welcome-slider-controls
.ico-welcome-prew {
  width: 30px;
  height: 8px;
  -webkit-mask-image: url("../assets/svg/welcome-slider-controls/welcom-slider__btn.svg");
}
.ico-welcome-next {
  width: 30px;
  height: 8px;
  transform: rotate(180deg);
  -webkit-mask-image: url("../assets/svg/welcome-slider-controls/welcom-slider__btn.svg");
}

// video player controls
.ico-big-play {
  width: 220px;
  height: 220px;
  background-image: url("../assets/svg/main-video-controls/big-play.svg");
}

.ico-play {
  width: 23px;
  height: 30px;
  -webkit-mask-image: url("../assets/svg/main-video-controls/play.svg");
}

.ico-sound {
  width: 38px;
  height: 30px;
  -webkit-mask-image: url("../assets/svg/main-video-controls/sound.svg");
}

.ico-fullscreen {
  width: 36px;
  height: 36px;
  -webkit-mask-image: url("../assets/svg/main-video-controls/fullscreen.svg");
}

// slider controls
.ico-prev {
  width: 10px;
  height: 12px;
  -webkit-mask-image: url("../assets/svg/video-slider-controls/video-control.svg");
}

.ico-next {
  width: 10px;
  height: 12px;
  transform: rotate(180deg);
  -webkit-mask-image: url("../assets/svg/video-slider-controls/video-control.svg");
}

// social icons
.ico-youtube {
  margin: 12px;
  width: 24px;
  height: 24px;
  -webkit-mask-image: url("../assets/svg/social/Youtube.svg");
}
.ico-instagram {
  margin: 12px;
  width: 24px;
  height: 24px;
  -webkit-mask-image: url("../assets/svg/social/Instagram.svg");
}
.ico-facebook {
  margin: 12px;
  width: 24px;
  height: 24px;
  -webkit-mask-image: url("../assets/svg/social/Facebook.svg");
}
.ico-twitter {
  margin: 12px;
  width: 24px;
  height: 24px;
  -webkit-mask-image: url("../assets/svg/social/Twitter.svg");
}
.ico-pinterest {
  margin: 12px;
  width: 24px;
  height: 24px;
  -webkit-mask-image: url("../assets/svg/social/Pinterest.svg");
}
