.navigation {
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0;

  &__link {
    margin-left: 57px;

    &:first-child {
      margin-left: 0;
    }

    a {
      @include font($weight: 100, $height: 50px);
      color: var(--color-text-light);
      text-decoration: none;
      letter-spacing: 2px;

      &:hover {
        color: var(--color-hover);
        @extend %transition;
      }
    }
  }
}

.navigation-footer {
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 620px;
  max-height: 155px;
  &__link {
    margin: 0;
    padding-bottom: 1px;
    &:nth-child(n + 4) {
      padding-right: 88px;
    }
  }
}
