.social {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 340px;
  margin: 0;

  &__link {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
}
