.dots {
  /* Center the content */
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;

  /* Reset styles */
  margin: 0;
}

.dots__item {
  /* Rounded border */
  border-radius: 9999px;
  height: 12px;
  width: 12px;

  /* Active dot */
  // background-color: var(--color-dot-active);

  /* Inactive dot */
  background-color: var(--color-dot);

  /* OPTIONAL: Spacing between dots */
  margin: 0 10px;
  @extend %transition;
  &:hover {
    background-color: var(--color-main-btn);
  }
  &_welcome {
    border-radius: 0;
    height: 16px;
    width: 16px;
    margin: 0 25px 0 0;
    background-color: var(--color-bg-light);
    &:hover {
      background-color: var(--color-hover);
    }
    &:last-child {
      margin: 0;
    }

    @include media-tablet {
      height: 12px;
      width: 12px;
    }
  }
}
.active {
  background-color: var(--color-dot-active);
  &_welcome {
    background-color: var(--color-welcom-dot-active);
  }
}
