.form {
  position: fixed;
  padding: 91px 235px;
  background-color: var(--color-bg-light);
  left: -200%;
  top: calc(50vh - 422.5px);

  transition: all 0.3s ease-out;
  z-index: 20;

  &.open {
    left: calc(50vw - 720px);
  }

  &__close-btn {
    position: absolute;
    top: 18px;
    right: 25px;
    width: 36px;
    height: 36px;
  }

  &__container {
    display: flex;
    gap: 40px;
    max-width: 970px;
    color: var(--color-text-dark);
  }
  &__left,
  &__rigth {
    display: flex;
    flex-direction: column;
  }

  &__left {
    max-width: 400px;
  }

  &__right {
    padding: 25px 30px;
    width: 530px;
    border: 1px solid #030303;
  }

  &__title {
    position: relative;
    padding-top: 41px;
    margin-bottom: 15px;
    @include font($size: 50px, $height: 55px, $weight: 400);
    color: var(--color-hover);
    text-transform: uppercase;
    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 85px;
      height: 41px;
      background-image: url("../assets/svg/ticket-form/logo-form.svg");
    }
  }

  &__text {
    position: relative;
    margin-bottom: 71px;
    @include font($size: 18px, $height: 21px, $weight: 400);
    color: var(--color-main-btn);
    &::after {
      @extend %underline-book-title;
    }
  }

  &__inputs {
    display: flex;
    gap: 20px;
  }

  &__input {
    padding-left: 42px;
    margin-bottom: 20px;
    height: 45px;
    width: 100%;
    border: 1px solid #030303;
    color: #030303;
    @include font($size: 18px, $height: 21px, $weight: 400);

    &::placeholder {
      color: #030303;
    }

    &_date,
    &_time {
      position: relative;
      width: 190px;
      &::-webkit-calendar-picker-indicator {
        background-image: url("../assets/svg/ticket-form/input-arrow.svg");
        width: 17px;
        height: 17px;
        padding-right: 14px;
        margin: 0;
      }

      &::-webkit-datetime-edit {
        color: var(--color-text-light);
      }

      &::before {
        position: absolute;
        content: "";
        top: 14px;
        left: 14px;
      }

      &:focus {
        &::-webkit-datetime-edit {
          color: #030303;
        }
        &::after {
          position: absolute;
          content: "";
        }
      }
    }

    &_name,
    &_email,
    &_phone {
      position: relative;
      &::after {
        position: absolute;
        content: "";
        top: 15px;
        left: 15px;
      }
    }

    &_date {
      &::before {
        width: 15px;
        height: 15px;
        background-image: url("../assets/svg/ticket-form/date.svg");
      }
      &::after {
        position: absolute;
        content: "Date";
      }
    }

    &_time {
      &::before {
        width: 15px;
        height: 15px;
        background-image: url("../assets/svg/ticket-form/time.svg");
      }

      &::after {
        position: absolute;
        content: "Time";
      }
    }

    &_name {
      &::after {
        width: 13px;
        height: 15px;
        background-image: url("../assets/svg/ticket-form/name.svg");
      }
    }
    &_email {
      &::after {
        top: 17px;
        width: 15px;
        height: 11px;
        background-image: url("../assets/svg/ticket-form/email.svg");
      }
    }
    &_phone {
      &::after {
        top: 11px;
        width: 14px;
        height: 23px;
        background-image: url("../assets/svg/ticket-form/tel.svg");
      }
    }
  }

  &__select {
    margin-bottom: 20px;
    height: 45px;
    border: 1px solid #030303;
    color: #fff;
    @include font($size: 18px, $height: 21px, $weight: 400);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../assets/svg/ticket-form/input-arrow.svg") 96%/4.2%
      no-repeat;
  }

  &__amount {
    padding: 10px 15px 15px;
    border: 1px solid #030303;
  }

  &__overview {
    display: flex;
    justify-content: space-between;
  }

  &__card {
    margin-top: 10px;
    height: 241px;
  }

  &__btn {
    position: relative;
    width: 220px;
    height: 45px;
    margin-top: 25px;
    float: right;
    color: var(--color-text-light);
    opacity: 0.9;
    @include font($height: 26px, $weight: 400);
    border: 0;

    & .circle {
      position: absolute;
      background-color: var(--color-bg-light);
      width: 100px;
      height: 100px;
      border-radius: 50%;
      transform: translate(-50%, -50%) scale(0);
      animation: scale 0.5s ease-out;
    }
  }

  @keyframes scale {
    to {
      transform: translate(-50%, -50%) scale(3);
      opacity: 0;
    }
  }
}

.select {
  display: grid;
  position: relative;
  max-width: 400px;
  width: 100%;
  color: #030303;
  @include font($size: 18px, $height: 21px, $weight: 400);
  &::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    top: 15px;
    left: 15px;
    background-image: url("../assets/svg/ticket-form/ballot.svg");
  }

  &::after {
    position: absolute;
    content: "Ticket Type";
    left: 44px;
    top: 13px;
  }
}
