.overlay {
  position: fixed;
  top: 0px;
  right: -101%;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  transition: all 0.3s ease-out;

  &.open {
    right: 0;
  }

  .hiden {
    display: none;
  }
}
