.video-player {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 75px 0 40px;
  @include media-tablet {
    margin: 40px 0 20px;
  }
}

.main-video {
  &__container {
    display: flex;
    overflow: hidden;
  }

  &__item {
    position: relative;
    flex-shrink: 0;
    padding-bottom: 45.14%;
    height: 0;
    width: 100%;

    overflow: hidden;
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 5px;
    min-height: 85px;
    background-color: var(--color-text-dark);
    @include media-tablet {
      min-height: 60px;
    }
  }

  &__play {
    position: absolute;
    top: calc(50% - 233px);
    right: calc(50% - 220px);
    transform: translate(-50%, -50%);
    background-color: inherit;
    border: 0;
    @extend %transition;
    &:hover {
      filter: invert(73%) sepia(11%) saturate(0%) hue-rotate(211deg)
        brightness(130%) contrast(91%);
    }
  }

  &__ico {
    background-color: var(--color-main-video-controls);
    -webkit-mask-size: cover;
    border: 0;
    @extend %transition;

    &:hover {
      background-color: var(--color-main-video-controls-hover);
    }
  }
}

.small-video {
  &__container {
    display: flex;
    justify-content: space-between;

    margin-top: 40px;
    overflow: hidden;
  }

  &__item {
    margin-right: 42px;

    position: relative;
    flex-shrink: 0;
    padding-bottom: 17.6%;
    height: 0;
    width: calc(100% / 3 - 28px);

    overflow: hidden;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__controls {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 40px 0 35px;
  }

  &__control {
    padding: 0;
    margin: 0 10px;
    background-color: var(--color-dot);
    -webkit-mask-size: cover;
    border: 0;
    @extend %transition;
    &:hover {
      background-color: var(--color-main-btn);
    }
  }
}

.progress {
  background: linear-gradient(
    to right,
    #710707 0%,
    #710707 54%,
    #c4c4c4 54%,
    #c4c4c4 100%
  );
  height: 8px;
  width: 930px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;

  &_volume {
    width: 155px;
    background: linear-gradient(
      to right,
      #710707 0%,
      #710707 40%,
      #c4c4c4 40%,
      #c4c4c4 100%
    );
  }

  &::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: #fff;
  }
}
