.explorer {
  background-color: var(--color-bg-dark);

  &__container {
    display: flex;

    justify-content: space-between;
    width: 100%;
    padding: 75px 0 77px;

    @include media-desctop {
      padding: 75px 35px;
    }

    @include media-tablet {
      flex-wrap: wrap;
      padding: 60px 20px 59px;
    }

    @include media-tablet-small {
      padding: 40px 20px 46px;
    }

    @include media-mobile {
      padding: 40px 20px 40px;
    }
  }

  &__content {
    max-width: 660px;
    width: 100%;

    @include media-tablet {
      max-width: 100%;
    }
  }

  &__title {
    position: relative;
    letter-spacing: 5px;
    text-transform: uppercase;

    &::after {
      @extend %underline-title;
    }
  }

  &__text {
    margin-top: 25px;

    &:first-of-type {
      margin-top: 103px;
      & span {
        display: block;
        color: var(--color-text-light);
      }

      @include media-tablet {
        margin-top: 82px;
        & span {
          display: inline;
        }
      }
    }

    span {
      color: #caaa7d;
    }

    @include media-tablet {
      margin-top: 0;
      &:last-of-type {
        display: none;
      }
    }

    @include media-tablet-small {
      display: none;
      opacity: 0;
    }
  }

  &__slider {
    position: relative;
    margin-top: 15px;
    max-width: 720px;
    overflow: hidden;

    @include media-tablet {
      margin: 57px auto 0;
    }

    @include media-mobile {
      margin: 63px auto 0;
      max-width: 380px;
    }

    picture img {
      display: block;
      max-width: 720px;
      height: auto;
      max-height: 80vh;
      object-fit: cover;
      pointer-events: none;
      user-select: none;

      @include media-mobile {
        max-width: 380px;
      }
    }
  }

  &__img {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
    z-index: 1;

    picture img {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
    }
  }

  &__handle {
    position: absolute;
    top: 0;
    left: calc(50% - var(--image-comparison-slider-handle-width) / 2);
    width: var(--image-comparison-slider-handle-width);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    z-index: 9;
    cursor: col-resize;
  }

  &__handle-line {
    width: 5px;
    flex-grow: 1;
    background-color: var(--color-bg-light);
  }

  &__handle-circle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: var(--image-comparison-slider-handle-width);
    height: var(--image-comparison-slider-handle-width);
    color: #fff;
    border: 5px solid #fff;
    border-radius: 50%;
  }
}
