.tickets {
  &__container {
    padding: 75px 0 63px;

    @include media-desctop {
      padding: 75px 35px;
    }

    @include media-tablet {
      padding: 59px 20px 48px;
    }

    @include media-tablet-small {
      padding: 40px 20px 40px;
    }
  }

  &__title {
    position: relative;
    color: var(--color-hover);
    letter-spacing: 5px;
    text-transform: uppercase;

    &::after {
      @extend %underline-title;
    }
  }

  &__content {
    display: flex;
    gap: 60px;
    margin-top: 103px;

    @include media-tablet {
      gap: 80px;
      margin-top: 85px;
    }

    @include media-tablet-small {
      gap: 60px;
      margin-top: 65px;
    }

    @include media-mobile {
      flex-direction: column;
      gap: 38px;
    }
  }

  &__img {
    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
    color: var(--color-text-dark);

    @include media-mobile {
      justify-content: center;
    }
  }



  &__type {
    display: flex;
    flex-direction: column;
    margin: 0 15px 30px 0;

    @include media-tablet {
      display: none;
    }
  }

  &__subtitle {
    @include font($size: 28px, $height: 33px, $weight: 700);
    margin-bottom: 25px;

    &_end {
      padding-left: 50px;

      @include media-tablet {
        padding-left: 0;
        margin-bottom: 29px;
      }

      @include media-tablet-small {
        margin-bottom: 38px;
      }

      @include media-mobile {
        margin-bottom: 20px;
        text-align: center;
        @include font($size: 16px, $height: 19px, $weight: 700);
      }
    }
  }
  &__amount-container {
    padding-left: 25px;

    @include media-tablet {
      padding-left: 0;
    }
  }
  &__btn {
    width: 174px;
    height: 50px;
    border-radius: 2px;
    border: 0 solid var(--color-bg-dark);
    color: var(--color-bg-light);
    letter-spacing: 2px;

    @include media-tablet-small {
      @include font($size: 22px, $height: 26px, $weight: 300);
    }

    @include media-mobile {
      @include font($size: 16px, $height: 0, $weight: 300);
      letter-spacing: 2px;
    }

  }
}

.ticket-type__container {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-top: 25px;
  line-height: 26px;
  cursor: pointer;
  @extend %transition;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover {
    color: var(--color-hover);
    @extend %transition;
  }

  /* Hide the browser's default radio button */
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;

    /* When the radio button is checked, add a dark background */
    &:checked ~ .checkmark {
      background-color: var(--color-bg-light);
    }

    /* Show the indicator (dot/circle) when checked */
    &:checked ~ .checkmark:after {
      display: block;
    }
  }

  /* On mouse-over, add a grey background color */
  &:hover input ~ .checkmark {
    background-color: var(--color-hover);
    @extend %transition;
  }

  /* Style the indicator (dot/circle) */
  .checkmark:after {
    top: 3px;
    left: 3px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: var(--color-text-dark);
  }
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 17px;
  width: 17px;
  border-radius: 50%;
  border: 2px solid var(--color-text-dark);

  /* Create the indicator (the dot/circle - hidden when not checked) */
  &::after {
    content: "";
    position: absolute;
    display: none;
  }
}

.ticket-amount {
  &__text {
    @include font($height: 26px);

    @include media-mobile {
      @include font($size:16px, $height: 19px);

    }
  }

  &__container {
    display: flex;
    align-items: center;
    margin: 15px 0 10px;
    border: 3px solid var(--color-text-dark);

    input::-webkit-inner-spin-button,
    input::-webkit-outer-spin-button {
      appearance: none;
    }

    @include media-tablet {
      margin: 10px 0 29px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }

    @include media-tablet-small {
      margin: 10px 0 25px;
    }

    @include media-mobile {
      margin: 15px 0 20px;
    }

  }

  &__total {
    margin: 50px 0 60px;

    @include font($size: 28px, $height: 33px, $weight: 700);
    letter-spacing: 1.6px;

    @include media-tablet {
      margin: 25px 0 69px;
      letter-spacing: 2px;

      span {
        padding-left: 14px;
      }
    }
    @include media-tablet-small {
      margin: 38px 0 40px;
    }

    @include media-mobile {
      margin: 40px 0 40px;
      text-align: center;
      @include font($size: 16px, $height: 19px, $weight: 700);
      letter-spacing: 0;

      span {
        padding-left: 5px;
      }
    }
  }

  &__btn {
    padding: 3px 8px;
    background-color: var(--color-bg-light);
    border: 0 solid var(--color-bg-dark);
    @include font($size: 32px, $height: 37px, $weight: 400);
    text-align: center;
    @extend %transition;

    &:hover {
      color: var(--color-hover);
    }

    @include media-tablet {
      padding: 3px 12px;
    }

  }

  &__number {
    width: 66px;
    height: 44px;
    background-color: var(--color-bg-light);
    border: 0;
    text-align: center;
    @include font($height: 26px);

    @include media-tablet {
      width: 80px;
    }
  }
}
