:root {
  --color-bg-dark: #030303;
  --color-bg-light: #ffffff;
  --color-text-dark: #000000;
  --color-text-light: #ffffff;
  --color-hover: #9d8665;
  --color-main-btn: #710707;
  --color-social-border: #666666;
}

//FONT PATH
$roboto-font-path: "../../assets/fonts/Roboto";
$forum-font-path: "../../assets/fonts/Forum";

//CONTENT WIDTH
$content-width: 1440px;
