.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include font($size: 28px, $height: 31px, $weight: 400);

  @include media-tablet-small {
    @include font($size: 28px, $height: 50px, $weight: 400);
  }

  @include media-mobile {
    @include font($size: 16px, $height: 18px, $weight: 400);
  }

  &__link {
    text-decoration: none;
    &:hover {
      .logo__img {
        background-color: var(--color-hover);
        color: var(--color-hover);
      }

      .logo__text {
        color: var(--color-hover);
      }

    }

  }

  &__img {
    display: inline-block;
    width: 49px;
    height: 26px;
    background-color: var(--color-bg-light);
    background-size: 49px 26px;
    -webkit-mask-image: url("../assets/svg/logo.svg");
    -webkit-mask-size: cover;
    @extend %transition;

    &:hover {
      background-color: var(--color-hover);
    }

    @include media-mobile {
      width: 29px;
      height: 16px;
      background-size: 29px 16px;
    }
  }

  &__text {
    margin-left: 20px;
    @extend %font-title;
    color: var(--color-text-light);
    text-transform: uppercase;
    letter-spacing: 5px;
    @extend %transition;


  }

}
