.video-player {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 75px 0 40px;

  @include media-tablet {
    margin: 40px 0 20px;
  }

  @include media-tablet-small {
    margin: 15px 0 20px;
  }
}

.main-video {
  &__container {
    display: flex;
    overflow: hidden;
  }

  &__item {
    position: relative;
    flex-shrink: 0;
    padding-bottom: 45.14%;
    height: 0;
    width: 100%;
    overflow: hidden;
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    column-gap: 50px;
    min-height: 85px;
    background-color: var(--color-text-dark);

    @include media-tablet {
      min-height: 60px;
      column-gap: 30px;
    }

    @include media-tablet-small {
      position: relative;
      flex-wrap: wrap;
      align-items: baseline;
      column-gap: 35px;
      padding: 0;
    }

    @include media-mobile {
      column-gap: 31px;
      min-height: 55px;
    }
  }

  &__play {
    position: absolute;
    top: calc(50% - 233px);
    right: calc(50% - 220px);
    transform: translate(-50%, -50%);
    background-color: inherit;
    border: 0;
    @extend %transition;

    &:hover {
      filter: invert(73%) sepia(11%) saturate(0%) hue-rotate(211deg)
        brightness(130%) contrast(91%);
    }

    @include media-tablet {
      top: calc(50% - 181px);
      right: calc(50% - 152px);
    }

    @include media-tablet-small {
      right: calc(50% - 80px);
    }

    @include media-mobile {
      right: calc(50% - 50px);
    top: calc(50% - 132px);
    }
  }

  &__ico {
    background-color: var(--color-main-video-controls);
    -webkit-mask-size: cover;
    border: 0;
    @extend %transition;

    &:hover {
      background-color: var(--color-main-video-controls-hover);
    }
  }
}

.small-video {
  &__container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    overflow: hidden;

    @include media-tablet-small {
      margin-top: 19px;
    }

    @include media-mobile {
      margin-top: 38px;
    }
  }

  &__item {
    margin-right: 42px;
    position: relative;
    flex-shrink: 0;
    padding-bottom: 17.6%;
    height: 0;
    width: calc(100% / 3 - 28px);
    overflow: hidden;

    @include media-tablet-small {
      margin-right: 20px;
      padding-bottom: 27.6%;
      width: calc(100% / 2 - 10px);
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__controls {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 40px 0 35px;

    @include media-tablet-small {
      margin: 20px 0 60px;
    }

    @include media-mobile {
      margin: 37px 0 21px;
    }
  }

  &__control {
    padding: 0;
    margin: 0 10px;
    background-color: var(--color-dot);
    -webkit-mask-size: cover;
    border: 0;
    @extend %transition;

    &:hover {
      background-color: var(--color-main-btn);
    }
  }
}

.progress {
  height: 8px;

  flex-grow: 1;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;

  @include media-tablet {
    height: 5px;
  }

  &_video {
    max-width: 930px;

    background: linear-gradient(
      to right,
      #710707 0%,
      #710707 54%,
      #c4c4c4 54%,
      #c4c4c4 100%
    );

    @include media-tablet {
      max-width: 564px;
    }

    @include media-tablet-small {
      order: -1;
      align-self: flex-start;
      max-width: 728px;
      width: 100%;
    }
  }

  &_volume {
    max-width: 155px;

    background: linear-gradient(
      to right,
      #710707 0%,
      #710707 40%,
      #c4c4c4 40%,
      #c4c4c4 100%
    );

    @include media-tablet {
      max-width: 143px;
    }

    @include media-tablet-small {
      align-self: center;
      max-width: 486px;
    }

    @include media-mobile {
      margin-bottom: 16px;
      max-width: 200px;

    }
  }

  &::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: #fff;

    @include media-tablet {
      width: 13px;
      height: 13px;
    }
    @include media-mobile {
      width: 10px;
      height: 10px;
    }
  }
}
