.ico {
  cursor: pointer;
  display: inline-block;
}

.ico-big-play {
  width: 220px;
  height: 220px;
  background-image: url("./assets/svg/big-play.svg");
}

.ico-prev {
  width: 27px;
  height: 30px;
  background-image: url("./assets/svg/prev-next.svg");
}

.ico-play {
  width: 23px;
  height: 30px;
  background-image: url("./assets/svg/play.svg");
}

.ico-next {
  width: 27px;
  height: 30px;
  transform: rotate(180deg);
  background-image: url("./assets/svg/prev-next.svg");
}

.ico-sound {
  width: 38px;
  height: 30px;
  background-image: url("./assets/svg/sound.svg");
}

.ico-fullscreen {
  width: 36px;
  height: 36px;
  background-image: url("./assets/svg/fullscreen.svg");
}
.ico-youtube {
  margin: 12px;
  width: 24px;
  height: 24px;
  background-image: url("./assets/svg/social/Youtube.svg");
}
.ico-instagram {
  margin: 12px;
  width: 24px;
  height: 24px;
  background-image: url("./assets/svg/social/Instagram.svg");
}
.ico-facebook {
  margin: 12px;
  width: 24px;
  height: 24px;
  background-image: url("./assets/svg/social/Facebook.svg");
}
.ico-twitter {
  margin: 12px;
  width: 24px;
  height: 24px;
  background-image: url("./assets/svg/social/Twitter.svg");
}
.ico-pinterest {
  margin: 12px;
  width: 24px;
  height: 24px;
  background-image: url("./assets/svg/social/Pinterest.svg");
}
