.footer {
  position: relative;
  background-color: var(--color-bg-dark);
  &::after {
    @extend %underline-title;
    bottom: 148px;
    background-color: #666666;
  }

  &__container {
    display: grid;
    grid-template-columns: 1.4fr 3.12fr 1fr;
    row-gap: 92px;
    padding: 75px 0;
  }
  &__logo {
    align-items: flex-start;
    padding-left: 4px;
  }
  &__social {
    display: flex;
  }
  &__ico {
    border-radius: 50%;
    -webkit-box-shadow: inset 0 0 0 1.5px var(--color-social-border);
    box-shadow: inset 0 0 0 1.5px var(--color-social-border);
    display: block;
    height: 48px;
    width: 48px;
    @extend %transition;
    &:hover {
      transform: scale(1.06);
      box-shadow: inset 0 0 0 1.5px var(--color-hover);
    }
  }
  &__content {
    grid-column-end: span 3;
    display: flex;
    justify-content: space-between;

    a {
      text-decoration: none;
      color: var(--color-text-light);
      @extend %transition;
      &:hover {
        color: var(--color-hover);
      }
    }

    p {
      @include font($weight: 100, $height: 22px);
      letter-spacing: 2px;
    }

    p:nth-child(2) {
      padding-left: 51px;
    }
  }
}
