.contacts {
  &__title {
    position: relative;
    margin-top: 75px;
    color: var(--color-hover);
    letter-spacing: 5px;
    text-transform: uppercase;

    &::after {
      @extend %underline-title;
    }

    @include media-tablet {
      margin-top: 60px;
    }

    @include media-tablet-small {
      margin-top: 40px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 103px 0 71px;

    @include media-tablet {
      margin: 85px 0 61px;
    }

    @include media-tablet-small {
      flex-direction: column;
      margin: 63px 0 70px;
    }

    @include media-mobile {
      margin: 63px 0 37px;
    }
  }

  &__address {
    margin-bottom: 20px;
    margin-right: 20px;

    @include media-tablet-small {
      margin-bottom: 40px;
    }
  }

  &__map {
    width: 100%;
    max-width: 960px;

    @include media-tablet {
      max-width: 694px;
    }

    @include media-tablet-small {
      max-width: 728px;
    }
  }

  &__map-container {
    position: relative;
    padding-bottom: 65%;
    height: 0;
    overflow: hidden;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    // width: calc(100vw - 960px);
    // height: calc(65vw - 630px);
    // @include media-tablet {
    //   width: calc(100vw - 330px);
    //   height: calc(65vw - 212px);
    // }
  }
}
