.gallery {
  background-color: var(--color-bg-dark);
  &__container {
    padding: 75px 0 0;

    @include media-desctop {
      padding: 75px 35px 0;
    }

    @include media-tablet {
      padding: 62px 20px 0;
    }

    @include media-tablet-small {
      padding: 40px 20px 0;
    }
  }

  &__title {
    margin-bottom: 75px;
    letter-spacing: 5px;
    text-transform: uppercase;

    @include media-tablet {
      margin-bottom: 60px;
    }

    @include media-tablet-small {
      margin-bottom: 40px;
    }
  }

  &__pictures {
    position: relative;
    overflow: hidden;
    max-width: 1440px;
    max-height: 102vw;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 360px;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        var(--color-text-dark) 100%
      );
      z-index: 1;
    }

    @include media-tablet {
      max-height: 123.5vw;
      &::after {
        height: 239px;
      }
    }

    @include media-tablet-small {
      max-height: 140.5vw;
      &::after {
        height: 235px;
      }
    }
  }

  &__inner-pictures {
    columns: 3;
    column-gap: 36px;
    row-gap: 24px;

    @include media-tablet-small {
      columns: 2;
      column-gap: 24px;
    }

    img {
      display: block;
      margin-bottom: 24px;
      max-width: 100%;
      height: auto;
    }

    img:nth-child(1) {
      padding-top: 50px;
    }

    img:nth-child(11) {
      padding-top: 50px;
    }

    img:nth-child(5) {
      break-after: column;
    }

    img:nth-child(10) {
      break-after: column;
    }
  }
}
