.header {
  background-color: var(--color-bg-dark);

  &__container {
    display: flex;
    justify-content: space-between;
    padding: 61px 0 53px;

    @include media-desctop {
      padding: 61px 35px 53px;
    }

    @include media-tablet {
      padding: 49px 20px 44px;
    }

    @include media-tablet-small {
      padding: 35px 20px 30px;
    }

    @include media-mobile{
      padding: 35px 20px 40px;
    }
  }
}
