@import "base/normalize";

//Abstract
@import "abstracts/constants";
@import "abstracts/mixins";
@import "abstracts/placeholders";

//Base
@import "base/base";

//Components
@import "components/wrapper";
@import "components/logo";
@import "components/navigation";
@import "components/buttons";
@import "components/icon";
@import "components/video-player";
@import "components/address";
@import "components/social";
@import "components/parallax";
@import "components/dots";
@import "components/counter";

//Layout
@import "layout/header";
@import "layout/welcome";
@import "layout/visiting";
@import "layout/explorer";
@import "layout/video";
@import "layout/gallery";
@import "layout/tickets";
@import "layout/contacts";
@import "layout/footer";
